/*

  main.css - for the NZ Vintage Radios Site Dec 2016
  Author: Steve Dunford
  Licence: Beerware - If you like it then buy me a beer

  See bottom for simple small-screen layout tweaks

*/

/* Title font (Limelight) and main site font */
@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url(https://fonts.googleapis.com/css?family=Arima+Madurai);

/*
 * Main CSS setup for the site .
 */
body {
	font-family: 'Arima Madurai', cursive;
	max-width: 960px;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    background-color: #122337;
    background-image: url("img/bg_bp_2.png");
    margin: 0 5px 5px 0;
}

/*
 * flash is the Flask built-in messaging bar at the top of the page 
 */
.flash {
	font-family: Arial, sans-serif;
	font-weight: bolder;
    background-image: url("img/title.jpg");
	color: #fff;
	height: auto;
    position: relative;
	border-bottom-right-radius: 15px;
    border-bottom: 2px solid #752A13;
    border-right: 2px solid #752A13;
	margin: 0;
	padding: 4px 10px;
}

.close {   /* 'X' in flash msgs used to trigger message hide fn */
	color: #752A13;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 2em;
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        0 0 8px #fff;
}

.close:hover {
	cursor: pointer;
}

.flash ul li {
	left: 10px;
    width: 80%;
    list-style:	none;
    border-radius: 5px;
    padding: 2px 5px;
}

.message {
    background-color: green;
    border: 2px solid darkgreen;

}

.error {
    background-color: red;
    border: 2px solid darkred;
}


/*
 * font styles used throughout the site
 */
.artdeco {
    font-family: 'Limelight', cursive;
    margin-top: -2px;
    margin-bottom: 0;
    padding: 3px 5px;
    text-shadow:
        -1px -1px 0 #333,  
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333,
        0 0 8px #fff;
}

/* only EVER used to display 'NZ Vintage Radios' at top */
h1 {
    font-family: 'Limelight', cursive;
	font-size: 1.9em;
    color: black;
    padding-left: 65px;
    text-shadow: #fff 0 0 10px, #fff 0 0 2px;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-family: 'Limelight', cursive;
    font-size: 1.2em;
    margin: 3px 0;
}

h4 {
    background-color: black;
    color: white;
    font-size: 1em;
    margin-top: 23px;
    margin-bottom: 3px;
    padding-left: 5px;
    border-radius: 5px;
    border: 2px solid #333;
    box-shadow: -2px 2px 5px silver;
    width: 97%;
}

.subheading {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-right: 7%;
    margin: 5px 0;
    color: #752A13;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.justify {
    text-align: justify;
}

.right{
    text-align: right;
}

.odd {
    background-color: #eeeeee;
}

.italic {
    font-style: italic;
}

.reqd {
    color: #f00;
    font-weight: bold;
}

.bold {
  font-weight: bolder;
}

#bold_right {
  font-weight: bolder;
  text-align: right;
}

.inset {
    padding-left: 20px;
}



/*
 * Navigation Bar 
 */
.nav {
    height: auto;
    width: 95%;
	margin: 0;
	padding: 0 0 2px 0;
    background-image: url("img/nav.jpg");
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid #752A13;
    border-right: 2px solid #752A13;
}

.nav ul {
	margin: 0;
}

.nav ul li {
	display: inline;
    font-size: 0.8em;
	font-weight: bold;
	padding-right: 20px;
    text-shadow:
        -1px -1px 0 #333,  
        1px -1px 0 #333,
        -1px 1px 0 #333,
        1px 1px 0 #333,
        0 0 8px #fff;
}

.nav a {
    color: #bbb;
}

.menuIcon {
    display: none;
    color: #000;
    width: 100%;
    text-align: center;
}

.menuIcon:hover {
    color: #999;
}

.menuIcon a {
    width: 100%;
    display: inline-block;
    color: #fff;
}

menuIcon img {
    vertical-align: middle;
}



/*
 * Site header block - Logo and "NZ Vintage Radios"
 */
#header {
	margin: 0;
	padding: 10px;
}


#header img {
	position: relative;
    top: -6px;
    left: -5px;
    overflow: hidden;
    float: left;
    filter: drop-shadow(0px 0px 10px #fff);
}

#login_wrapper {
  float: right;
  text-align: right;
}



/*
 * Page title bar: Welcome, Bell Colt, Radio Corp. NZ, etc
 */
#pageTitleTop {
    height: 8px;
    width: 85%;
    background-image: url("img/nav.jpg");
    border-top-right-radius: 15px;
    border-top: 2px solid #752A13;
    border-right: 2px solid #752A13;
}

#pageTitle {
    width: 95%;
    background-image: url("img/title.jpg");
    background-position: bottom left;
    border-top-right-radius: 15px;
    border-top: 2px solid #752A13;
    border-right: 2px solid #752A13;
}

.pageTitleText {
    text-align: center;
    font-family: 'Limelight', cursive;
    font-weight: 800;
    color: #fff;
    clear: left; /* stops logo pushing it right */
}



/*
 * Content container
 */
#container {    /* Used to encapsulate main content */
    position: relative;
    padding: 5px 15px 5px 15px;
    min-height: 320px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #111;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top: 2px solid #752A13;
    border-right: 2px solid #752A13;
    border-bottom: 2px solid #752A13;
 }

#container p {
    display: inline-block;
    line-height: 1.5;
    padding: 5px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -2px 2px 5px silver;
    width: 99%;
    border: 2px solid #fbfbfb;
}

#container li {
    list-style: none;
}

#container a {
    color: darkcyan;
}

#container a:hover {
    color: #666;
}

#container img {
    max-width: 200px;
    max-height: 200px;
    padding: 2px;
    margin: 5px;
    background: white;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: -3px 3px 8px silver;
}

.img_right {
    float: right;
    margin-right: 2px;
}

.img_left {
    float: left;
    margin-left: 2px;
}

#breadcrumb {
    font-size: 0.8em;
    color: black;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 3px;
}

#radio_images {
    position: relative;
    background-color: white;
    padding: 3px 2px 10px 2px;
    overflow-y: hidden;
    overflow-x: scroll;
    max-height: 225px;
    white-space: nowrap;
    border-radius: 5px;
    border: 2px solid #f0f0f0;
    box-shadow: inset -2px 2px 5px silver;
}

#radio_images img {
    object-fit: contain;
    overflow: hidden;
    vertical-align: middle;
}

.icon {
    position: absolute;
    background: transparent no-repeat left center;
    width: 40px;
    height: 35px;
    left: 0;
    padding-top: 35px;
}

.manufactured {
    background-image: url(/static/icons/manufactured.png);
}

.valve {
    background-image: url(/static/icons/valve.png);
}

.if {
    background-image: url(/static/icons/if.png);
}

a {
	text-decoration: none;
	color: #ddd;
}

a:hover {
	color: #fedc3d;
}


/*
 * Radio Brands
 */
.logo {
    max-width: 200px;
    max-height: 200px;
    float: right;
}

.timespan {
    font-weight: 700;
    font-style: italic;
    margin-top: 5px;
}

#description {
    width: auto;
}


/*
 * Footer
 */
#footer {
    width: 80%;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4c030c;
    color: white;
    background-image: url(img/nav.jpg);
    border-bottom: 2px solid #752A13;
    border-right: 2px solid #752A13;
    border-left: 2px solid #752A13;
    border-bottom-left-radius: 15px;
}



/*
 * Mobile / small screen layout tweaks 
*/
@media (max-width: 760px) {
    h1 {
        font-size: 1.7em;
        padding-left: 0;
        margin: 0;
    }
    
    #header {
        border: none;
        border-radius: none;
        background: none;
        width: auto;
    }
    
    #header img {
        display: none;
    }
    
    #breadcrumb {
        letter-spacing: 1px;
    }
    
    #container p {
        width: 96%;
    }
    
    #footer h3 {
        font-size: 0.8em;
    }
    
}

/* Push the menu to a mobile 'hamburger' style */
@media (max-width: 959px) {
    body {
        position: relative;
    }
    
    .subheading {
        font-size: 1.3em;
    }
    
    .menu {
        max-height: 0;
        overflow: hidden;
        float: none;
        text-align: left;
        width: 100%;
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        transition: max-height 1s;
      }
    
    .menu.menuOpen {
        max-height: 1000px;
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        transition: max-height 1s;
    }
    
    .menu ul li {
        display: block;
        text-align: center;
        padding-bottom: 5px;
    }
    
    .menuIcon {
        display: inline-block;
        text-align: left;
        padding-left: 10px;
    }
    
    .nav ul li {
    font-size: 1em;
    margin-right: 10%;

}