/*

  main.css - for the NZ Vintage Radios Site Dec 2016
  Author: Steve Dunford
  Licence: Beerware - If you like it then buy me a beer

*/

/* Title font (Limelight) and main site font */
@import url('https://fonts.googleapis.com/css?family=Limelight|Open+Sans');


/*
 * Main CSS setup for the site 
 */
body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #777;
}

a:hover {
	color: #999;
}


/*
 * Header block CSS 
 */
#header {
	background-color: silver;
	margin: 0;
	padding: 10px;
	border-radius: 15px 0 0 0; 
}

#header h1 {
	font-family: 'Limelight', cursive;
	padding-left: 65px;
}

#header img {
	position: absolute;
    top: 9px;
    left: 10px;
    overflow: hidden;
}


/*
 * Navigation Bar 
 */
#nav {
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom-right-radius: 10px;
	background-color: #000;
	color: #fff;
}

#nav ul {
	margin: 0;
}

#nav ul li {
	display: inline;
	padding-left: 20px;
	font-weight: bolder;
}


/*
 * flash is the Flask built-in messaging bar at the top of the page 
 */
.flash {
	font-family: Arial, sans-serif;
	font-weight: bolder;
	background-color: #dd0000;
	color: white;
	width: 85%;
	height: auto;
	border-radius: 3px;
	list-style:	none;
	margin: 5px;
	padding: 4px 10px;
}

.flash ul li {
	left: 80px;
}

.close {   /* 'X' in flash msgs used to trigger message hide fn */
	position: absolute;
	right: 170px;
}

.close:hover {
	cursor: pointer;
}
