{% extends "layout.html" %}

{% block content %}
<div id="container">
  <p>NZ Vintage Radios is a site designed to collate as much information as possible about the early days of radio in NZ, the companies that manufactured, sold and repaired radio equipment, the brands and radios themselves and other useful information from the (to borrow a phrase) Golden Age of Radio.</p>
  <p>If you have some information to add, please make contact by <a href="mailto:nzvr@essentialtech.co.nz">emailing us here</a></p>
</div>
{% endblock %}