{% extends "layout.html" %}

{% block content %}

<div id="container">
  <div id="breadcrumb">
    <a href="/brands">BRAND</a>
    {% if manufacturer['alias'] %}
      » <a href="/manufacturer/{{ manufacturer['alias'] }}">{{ manufacturer['name'] }}</a>
    {% endif %} » {{ title }}
  </div>
  {% if brand['tagline'] %}<h2 class="subheading">'{{ brand['tagline'] }}'</h2>{% endif %}

  <p class="timespan">
    {% if logo %}<img class="logo img_right" src="{{ logo }}" />{% endif %}
    {% if brand['year_started']|int %}
    {{ brand['name'] }} was introduced in
      {% if brand['year_started_approx'] != 0 %} around {% endif %}
      {{ brand['year_started'] }}
    {% if brand['year_ended']|int %} and lasted until
      {% if brand['year_ended_approx'] != 0 %} around {% endif %}
      {{ brand['year_ended'] }}{% endif %}.
    {% endif %}
  </p>
  
  <p>
    {{ brand['notes']|safe }}
  </p>
  
  {% if models|length > 0 %}
  <h4>
    Documented Models
  </h4>
  <div class="list">
    <ul>
      <li class='bold'>YEAR - MODEL NAME</li>
      {% for model in models %}
        <li>
          <a href={{ model['url'] }}>
             {% if model['start_year']|int %}{{ model['start_year'] }}{% else %}????{% endif %} - {{ model['code'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
  
</div>
{% endblock %}


