{% extends "layout.html" %}

{% block content %}

<div id="container">
  {% if brand['tagline'] %}<h2 class="subheading">'{{ brand['tagline'] }}'</h2>{% endif %}
    {% if logo %}<img id="logo" src="{{ logo }}" />{% endif %}


  {% if brand['year_started']|int %}
  <p id="timespan">{{ brand['name'] }} was introduced in
      {% if brand['year_started_approx'] != 0 %} around {% endif %}
      {{ brand['year_started'] }}
  {% if brand['year_ended_approx']|int %} and lasted until
      {% if brand['year_ended_approx'] != 0 %} around {% endif %}
      {{ brand['year_ended'] }}
  {% endif %}</p>
  {% endif %}
  <div id="description">
    {{ brand['notes']|safe }}
  </div>
  {% if models|length > 0 %}
  <h4>
    Documented Models
  </h4>
  <div class="list">
    <ul>
      {% for model in models %}
        <li>
          <a href={{ url_for('model', brand=brand['name'], id=model['number']) }}>
             {{ model['start_year'] }} - {{ model['number'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
  
</div>
{% endblock %}


