{% extends "layout.html" %}

{% block content %}

<div id="container">
<h2>{{ brand[1]|upper }}
    {% if brand[3] %} <span class="subheading"> - '{{ brand[3] }}'</span>{% endif %}
    {% if logo %}<img id="logo" src="{{ logo }}" />{% endif %}</h2>


{% if brand[6]|int %}
  <p id="timespan">{{ brand[1] }} was introduced in
      {% if brand[7] != 0 %} around {% endif %}
      {{ brand[6] }}
  {% if brand[8]|int %} and lasted until
      {% if brand[9] != 0 %} around {% endif %}
      {{ brand[8] }}
  {% endif %}</p>
{% endif %}
<div id="description">
  {{ brand[10]|safe }}
</div>
</div>
{% endblock %}


