{% extends "layout.html" %}

{% block content %}

<div id="container">
  <form action="brands" method="POST">
    <select name="id" onchange="this.form.submit()">
      <option value="" disabled selected style="display:none;">Choose a brand</option>
      {% for brand in brands %}
        <option value="{{ brand[0] }}">{{ brand[1] }}</option>
      {% endfor %}
    </select>
  </form>
  
  <table>
    <tr>
      <td><img src="/static/images/brands/bell.jpg" /></td>
      <td><img src="/static/images/brands/columbus.jpg" /></td>
      <td><img src="/static/images/brands/clipper.jpg" /></td>
    </tr>
    <tr>
      <td><img src="/static/images/brands/companion.jpg" /></td>
      <td><img src="/static/images/brands/pacific.jpg" /></td>
      <td><img src="/static/images/brands/courtenay.jpg" /></td>
    </tr>
  </table>

</div>

{% if debug %}
<br><br>--------------------<br>
{{brands}}
{% endif %}

{% endblock %}