{% extends "layout.html" %}

{% block content %}
<div id="container">
  <div id="breadcrumb">
    <a href="/distributors">DISTRIBUTORS</a> » {{ title }}
  </div>
  
  {% if logo %}<img id="logo" src="{{ logo }}" />{% endif %}
  {% if distributor['address']|length > 1 %}
    <p id="timespan">
      {{ distributor['name'] }} was known to operate {% if distributor['address'] != "Nationwide" %}in {% endif %}{{ distributor['address'] }}.
    </p>
  {% endif %}
  <div id="description">
    <p>
    {{ distributor['notes']|safe }}
    </p>
  </div>
  
  {% if brands|length > 0 %}
  <h4>
    Documented Brands
  </h4>
  <div class="list">
    <ul>
      {% for brand in brands %}
        <li>
          <a href={{ url_for('brand', alias=brand['alias']) }}>
             {{brand['name']}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
{% if debug %}
{{distributor}}<br><br>
{{brands}}<br><br>
{{logo}}<br><br>
{% endif %}
{% endblock %}


