{% extends "layout.html" %}

{% block content %}
<div id="container">
  <a class="gallery" title="1934 Pacific Elite" href="/static/images/model/pacific/6 valve dual wave/elite/elite.jpg"><img class="img_right" src="/static/images/model/pacific/6 valve dual wave/elite/thumbs/elite.jpg"></a><p class="justify">Welcome to the New Zealand Vintage Radio reference site.  Here you will find information on mainly NZ-designed, manufactured and distributed valve radios, otherwise known as tube radios in the US.</p>
  <a class="gallery" title="Golden Age of Radio" href="/static/images/publications/gar.jpg"><img class="img_left" src="/static/images/publications/gar.jpg"></a><p class="justify">Much of this information has come from restorers and collectors - and from the incredible books written by John W. Stokes - <span class="italic">The Golden Age of Radio in the Home</span> and <span class="italic">More Golden Age of Radio</span>.
  </p>
  <p class="justify">Special thanks goes to <a href="http://nzvrs.pl.net">the New Zealand Vintage Radio Society</a> who strive to keep the knowledge and passion for these radios alive.
  </p>
  <p class="justify"><span class="bold_left">Finally a quick note on images:</span>
    Many of our vintage radios are becoming hard to find let alone photograph.  The images on this site have been assembled from various sources including private and public collections, the web, and online auction sites.  It is believed that the images used on this site are in the public domain - however if you find a photo that belongs to you then please contact the <a href="mailto:admin@essentialtech.co.nz">site admin</a> for attribution, modification or removal.
  </p>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Test flash messages"></form>
</div>
{% endblock %}
