{% extends "layout.html" %}

{% block content %}
<div id="container">
  <p>Welcome to the New Zealand Vintage Radio reference site.  Here you will find information on mainly NZ-designed, manufactured and distributed valve radios, otherwise known as tube radios in the US.</p>
  <p>Much of this information has come from restorers and collectors - and from the incredible books written by John W. Stokes - <span class="italic">The Golden Age of Radio in the Home</span> and <span class="italic">More Golden Age of Radio</span>.
  </p>
  <p>Special thanks goes to <a href="http://nzvrs.pl.net">the New Zealand Vintage Radio Society</a> who strive to keep the knowledge and passion for these radios alive.
  </p>
  <p>Finally a quick note on images.  They have been assembled from many sources - either from enthusiasts collections, the web, and from Trade Me (NZ's version of eBay).  It is believed that these images are public domain, however if you find a photo that you took and you want it removed or altered then please contact the <a href="mailto:admin@essentialtech.co.nz">site admin</a>.
  </p>
    <form action="/echo" method="POST"><input name="text"><input type="submit" value="Test flash messages"></form>
</div>
{% endblock %}
