<!DOCTYPE html>

<!--  
NZ Vintage Radio Site
Author: Steve Dunford
Licence: Beerware - 'cos coding is thirsty work
-->

<html>
  <head>
    <title>NZ Vintage Radios</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script>
      <!-- click-to-hide Flask flash messages -->
      $( document ).ready(function() {
        $( ".close" ).click(function() {
          $( ".flash" ).hide( "fast");
        });
      });
    </script>
  </head>

  <body>

    <!-- title, branding etc --> {% include 'header.html' %} 

    <!-- menu bar --> {% include 'navigation.html' %} 

    <!-- flash messaging - Flask builtin --> {% include 'flash.html' %} 

    <!-- main page content -->
    {% block content %}{% endblock %}

  </body>
</html>
