<!DOCTYPE html>

<!--  
NZ Vintage Radio Site
Author: Steve Dunford
Licence: Beerware - 'cos coding is thirsty work
-->

<html>
  <head>
    <title>NZ Vintage Radios</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/colorbox.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.colorbox-min.js') }}"></script>
    <script>
      <!-- click-to-hide Flask flash messages -->
      $( document ).ready(function() {
        $( ".close" ).click(function() {
          $( ".flash" ).hide( "fast");
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $('.gallery').colorbox({
          rel: 'group1',
          transition: 'fade',
          maxWidth: '90%',
          maxHeight: '90%'
        });
      });
    </script>
  </head>

  <body>

    <!-- flash messaging - Flask builtin --> {% include 'flash.html' %} 

    <!-- title, branding etc --> {% include 'header.html' %} 

    <!-- page title --> {% include 'page_title.html' %}
    
    <!-- menu bar --> {% include 'navigation.html' %} 

    <!-- main page content -->
    {% block content %}{% endblock %}

    <!-- footer --> {% include 'footer.html' %}
  </body>
</html>
