{% extends "layout.html" %}

{% block content %}
<div id="container">
  <p><span class="bold">Grill Cloth</span><br />
    <a href="http://www.radiodaze.com/grille-cloth/">http://www.radiodaze.com/grille-cloth/</a> - Radio Daze has cloth for most popular American makes<br />
    <a href="http://www.richmonddesignsinc.com/">http://www.richmonddesignsinc.com/</a> - Richmond Designs has a lot of good American-style cloth as well<br />
    <a href="http://www.corrienmaas.nl/">http://www.corrienmaas.nl/</a> - hand woven to order<br />
    <a href="http://www.tubesandmore.com">http://www.tubesandmore.com</a> - mainly guitar amp cloth<br />
    <a href="http://www.ebay.com/bhp/radio-grill-cloth">http://www.ebay.com/bhp/radio-grill-cloth</a> - many eBay listings
  </p>
</div>
{% endblock %}