{% extends "layout.html" %}

{% block content %}
<div id="container">
  {% if logo %}<img id="logo" src="{{ logo }}" />{% endif %}
  {% if manufacturer[5]|int %}
    <p id="timespan">
      {{ manufacturer[1] }} was introduced in{% if manufacturer[6] == "1" %} around {% endif %}{{ manufacturer[5] }}{% if manufacturer[7]|int %} and lasted until{% if manufacturer[8] == "1" %} around {% endif %}{{ manufacturer[7] }}{% endif %}
    </p>
  {% endif %}
  <div id="description">
    {{ manufacturer[8]|safe }}
  </div>
  
  {% if brands|length > 0 %}
  <h4>
    Documented Brands
  </h4>
  <div class="list">
    <ul>
      {% for brand in brands %}
        <li>
          <a href={{ url_for('brand', id=brand[2]) }}>
             {{brand[1]}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
{{manufacturer}}<br><br>
{{brands}}<br><br>
{{logo}}<br><br>
{% endblock %}


