{% extends "layout.html" %}

{% block content %}
<div id="container">
  <div id="breadcrumb">
    <a href="/manufacturers">MANUFACTURERS</a> » {{ title }}
  </div>
  {% if logo %}<img id="logo" src="{{ logo }}" />{% endif %}
  {% if manufacturer['year_started']|int %}
    <p id="timespan">
      {{ manufacturer['name'] }} began manufacturing in {% if manufacturer['year_started_approx'] == 1 %}around {% endif %}{{ manufacturer['year_started'] }}{% if manufacturer['year_ended']|int %} and finished up in {% if manufacturer['year_ended_approx'] == 1 %}around {% endif %}{{ manufacturer['year_ended'] }}{% if new_co %} when they became <a href="/manufacturer/{{ new_co['alias'] }}">{{ new_co['name'] }}</a>{% endif %}{% endif %}.
    </p>
  {% endif %}
  <div id="description">
    {{ manufacturer['notes']|safe }}
  </div>
  
  {% if brands|length > 0 %}
  <h4>
    Documented Brands
  </h4>
  <div class="list">
    <ul>
      {% for brand in brands %}
        <li>
          <a href={{ url_for('brand', alias=brand['alias']) }}>
             {{brand['name']}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
new co: {{new_co}}<br>
{{manufacturer}}<br><br>
{{brands}}<br><br>
{{logo}}<br><br>
{% endblock %}


