{% extends "layout.html" %}

{% block content %}

<div id="container">
  <div id="breadcrumb">
    <a href="/manufacturer/{{manufacturer_alias}}">{{manufacturer}}</a> » <a href="/brand/{{brand}}">{{ brand|title }}</a> » {% if variant %}<a href="/model/{{brand}}/{{code}}">{{ code }}</a>{% else %}{{ code }}{% endif %}{% if variant %} » {{ variant }}{% endif %}
  </div>
  
  <!-- No radio found matching the URL-->
  {% if models|length == 0 %}
  <p>Sorry, you're looking for a radio that just isn't there...</p>
  <img src="/static/images/missing/missing.jpg">
  
  <!-- Multiple radios found, this is a variant landing page -->
  {% elif models|length > 1 and not variant %}
  <h4>There are currently {{ models|length }} variants of this model here:</h4>
  <ul>
    {% for model in models %}

    <p>
      <a href="/model/{{brand}}/{{code}}/{{model['variant']}}"><img class="img_left" src="{{ images[loop.index0]['thumb'] }}" /> {{ model['variant'] }}</a>
    </p>
    {% endfor %}
  </ul>
  {% else %}
  
  <!-- Main section for showing a radio / variant -->
  <div id="radio_images">
    {% for image in images %}
      <!-- Using resized main image if no thumbnail path provided -->
      <a class="gallery" title="{{ image['title'] }}" href="{{ image['filename'] }}"><img src="{{ image['thumb'] }}"></a>
    {% endfor %}
  </div>
  {% set model = models[0] %}
  <div class='icon manufactured'></div>
  <p><span class='bold inset'>Manufactured by </span><a href="/manufacturer/{{manufacturer_alias}}">{{ manufacturer }}</a> {% if model['start_year']|int  %} in {% if model['start_year_approx'] != 0 %}about {% endif %}{{ model['start_year'] }}{% if model['end_year'] %}, production ran for {% if model['end_year_approx'] != 0 %} about {% endif %}{{ model['end_year']|int - model['start_year']|int }} years{% endif %}.{% endif %}</p>
  
  <div class='icon valve'></div>
  <p><span class="bold inset">Valve Lineup:</span> {{ model['valve_lineup']|safe }}
  </p>
  
  {% if model['if'] %}
  <div class='icon if'></div>
  <p><span class="bold inset">I.F. Frequency: </span>{{ model['if']|safe }}
  </p>
  {% endif %}
  
  {{ model['notes']|safe }}
  
  {% endif %}
  
</div>


{% endblock %}