{% extends "layout.html" %}

{% block content %}

<div id="container">
  <div id="breadcrumb">
    <a href="/brand/{{brand}}">{{ brand|title }}</a> » {% if variant %}<a href="/model/{{brand}}/{{code}}">{{ code }}</a>{% else %}{{ code }}{% endif %}{% if variant %} » {{ variant }}{% endif %}
  </div>
  
  <!-- No radio found matching the URL-->
  {% if models|length == 0 %}
  <p>Sorry, you're looking for a radio that just isn't there...</p>
  <img src="/static/images/missing/missing.jpg">
  
  <!-- Multiple radios found, this is a variant landing page -->
  {% elif models|length > 1 and not variant %}
  <p>There are currently {{ models|length }} variants of this model here:</p>
  <ul>
    {% for model in models %}

    <li>
      <a href="/model/{{brand}}/{{code}}/{{model['variant']}}"><img src="/static{{ images[loop.index0]['thumb'] }}" /> {{ model['variant'] }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  
  <!-- Main section for showing a radio / variant -->
  <div id="radio_images">
    {% for image in images %}
      <!-- Using resized main image if no thumbnail path provided -->
      <a class="gallery" title="{{ image['name'] }}" href="/static{{ image['path'] }}"><img src="/static{% if image['thumb']|length < 1 %}{{ image['path'] }}{% else %}{{ image['thumb'] }}{% endif %}"></a>
    {% endfor %}
  </div>
  {% set model = models[0] %}
  <p>Manufactured by <a href="/manufacturer/{{manufacturer_alias}}">{{ manufacturer }}</a> {% if model['start_year'] > 0 %} in {% if model['start_year_approx'] != 0 %}about {% endif %}{{ model['start_year'] }}{% if model['end_year'] %}, production ran until {% if model['end_year_approx'] != 0 %} about {% endif %}{{ model['end_year']}}{% endif %}.{% endif %}</p>
  <p><span class="bold_left">Valve Lineup:</span> {{ model['valve_lineup'] }}</p>
  <p>{{ model['notes']|safe }}</p>
  
  {% endif %}
  
</div>


{% endblock %}