{% extends "layout.html" %}

{% block content %}

<div id="container">
  <div id="breadcrumb">
    MODEL » <a href="/brand/{{brand}}">{{ brand|title }}</a> » {{ code }}
  </div>

  <!-- Main section for showing a radio / variant -->
  <div id="radio_images">
    {% for image in images %}<a class="gallery" title="{{ image['title'] }}{% if image['attribution'] %} | image from {{ image['attribution'] }}{% endif %}" href="{{ image['filename'] }}">
      <img src="{{ image['thumb'] }}"></a>
    {% endfor %}
  </div>
  
  <p><span class='bold'>Manufactured {% if distributor['name'] %}for <a href="/distributor/{{distributor['alias']}}">{{distributor['name']}}</a> {% endif %}by <a href="/manufacturer/{{manufacturer['alias']}}">{{ manufacturer['name'] }}</a> {% if model['start_year']|int  %} in {% if model['start_year_approx'] != 0 %}about {% endif %}{{ model['start_year'] }}{% if model['end_year'] %}, production ran for {% if model['end_year_approx'] != 0 %} about {% endif %}{{ model['end_year']|int - model['start_year']|int }} years{% endif %}.{% endif %}</span></p>
  
  <!-- Model notes -->
  <p>{{ model['notes']|safe }}</p>
  
  <div class='icon valve'></div>
  <p><span class="bold inset">Valve Lineup:</span> {% if model['valve_lineup'] %}{{ model['valve_lineup']|safe }}{% else %}Not currently known{% endif %}
  </p>
  
  {% if model['if'] %}
  <div class='icon if'></div>
  <p><span class="bold inset">I.F. Frequency: </span>{{ model['if']|safe }}
  </p>
  {% endif %}
  
  {% if model['chassis_notes'] %}
  <div class='icon chassis'></div>
  <p><span class="bold inset">Chassis Notes: </span>{{ model['chassis_notes']|safe }}
  </p>
  {% endif %}
  
  {% if other_models %}
  <h4>
    All documented models using the same chassis
  </h4>
  <div class="list">
    <ul>
      <li class='bold'>YEAR - MODEL NAME</li>
      {% for model in other_models %}
        <li>
          <a href={{ url_for('model', brand=model['brand'], code=model['code']) }}>
             {% if model['start_year']|int %}{{ model['start_year'] }}{% else %}????{% endif %} - {{ model['brand'] }} {{ model['code'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
</div>

{% if debug %}
<!-- debug -->
  {{images}}
  {{models}}<br><br>
  {{brand}}<br><br>
  {{distributor}}<br><br>
  {{manufacturer}}<br><br>
  {{code}}<br><br>
  {{variant}}
{% endif %}

{% endblock %}