
<div class="nav">
  <div class="menuIcon">
    <a href="#menuExpand"><img src="/static/css/img/menu.png"> MENU</a>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/all">ALL MODELS</a></li>
      <li><a href="/brands">BRANDS</a></li>
      <li><a href="/manufacturers">MANUFACTURERS</a></li>
      <li><a href="/distributors">DISTRIBUTORS</a></li>
      <li><a href="/tech">TECH</a></li>
      <li><a href="/publications">PUBLICATIONS</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/lowres">SMALL IMAGES (DIALUP)</a></li>
      <li><a href="/fullres">FULL IMAGES</a></li>
      <li><a href="/help">HELP</a></li>
    </ul>
  </div>
</div>
