{% extends "layout.html" %}

{% block content %}
<div id="container">
  <p>Publications that are worth keeping an eye out for if you don't already have them</p>
  <ul>
    <li><b>* Lamphouse</b> - an annual catalogue of electrical goods and, specifically, radio parts and construction details</li>
    <li><b>* The N.Z. Radio Times</b> - a monthly publication in the 30's containing construction details for kits and other radio-related information including DXing</li>
    <li><b>* Johns Catalogue</b> - Johns Ltd produced a catalogue (annually?) of radio and electrical goods</li>
  </ul>
</div>
{% endblock %}