<div id="container">
  <div id="radio_specs">
    <img src="{{ url_for('static', filename='images/' + logo) }}" />
    <p><b>MAKE:</b> Pacific</p>
    <p><b>MODEL:</b> 6-Valve Dual-Wave</p>
    <p><B>YEAR:</B> 1934 / 35</p>
    <p><B>BANDS:</B> Broadcast (540-1500kHz) + SW (6-15MHz)</p>
  </div> <!-- end specs -->
  <div id="radio_imgs">
    <img id="main_img" src="../static/images/pacific.jpg" width="420" />
    <br />
    &nbsp;<img id="thumb first" src="../static/images/circle4708.png" width="100">
    &nbsp;<img id="thumb" src="../static/images/7B1%202-Volt%20Filament%20Battery%20Schematic.png" width="100">
    &nbsp;<img id="thumb last" src="../static/images/Pacific%206-Valve%20Dual-Wave%20Schematic.png" width="100">
  </div> <!-- end imgs -->

</div> <!-- end container -->