{% extends "layout.html" %}

{% block content %}

<div id="container">
  <div id="breadcrumb">
    SEARCH » <a href="/{{ search_term }}">{{ search_term }}</a>
  </div>
  
  <!-- Nothing found matching the search-->
  {% if search_results|length == 0 %}
  <p>Sorry, you're looking for a radio that just isn't there...</p>
  <img src="/static/images/missing/missing.jpg">
  {% endif %}
  
  <ul>
    {% for result in search_results %}
    <li><a href="/model/{{ result[0] }}/{{result[1]}}{% if result[2] %}/{{ result[2] }}{% endif %}">{{ result[0]|title }} model '{{ result[1] }}'</a></li>
    {% endfor %}
  </ul>
  

</div>


{% endblock %}