{% extends "layout.html" %}

{% block content %}
<div id="container">
  <p><img class="img_left" src="/static/images/tech/artsp.logo.png" width="150px" title="ARTS&P" />The licencing of patents relating to radio manufacture prior to 1934 was not particularly well managed in Australia and New Zealand - and so in early 1934 the Australian Radio Technical Services & Patents Co. Ltd (ARTS&P) was formed by the patent holders, issuing a single manufacturing licence and allowing applicants to use any patents.<img class="img_right" src="/static/images/tech/DSC00033.JPG" width="150px" />  ARTS&P also provided technical assistance to manufacturers so they could make the best use of the patented technology they were paying for.</p>
  <p><img class="img_left" src="/static/images/tech/20160810_171603.jpg" width="150px" />The licence labels changed color a few times, and prior to around 1955 they also contained a letter which helped identify the year(s) that the licence was issued.  <img class="img_right" src="/static/images/tech/20150314_205821.jpg" width="150px" />The royalties paid to ARTS&P were based on the number of electron streams in the set, and this is represented by a number in the top left of the label.</p>
  <p><img class="img_left" src="/static/images/tech/20161211_120316.jpg" width="150px" />This system was used in Australia and New Zealand, although there appear to have been some minor differences between the two countries - most notable the wording, which either refers to the Commonwealth of Australia or the Dominion of New Zealand<img class="img_right" src="/static/images/tech/503336995.jpg" width="150px" /></p>
  <p>1934    White newsprint label, serial number has no prefix (white plastic label, 'A' prefix in Australia)<br>
1935-1936    Serial number prefix 'B', pale blue label until 1946<br>
1936    Serial number prefix 'C' <br>
1937    Serial number prefix 'D' <br>
1938    Serial number prefix 'E' <br>
1939-1940    Serial number prefix 'F' <br> 
1940-1941    Serial number prefix 'G' <br>
1942-1946    Serial number prefix 'H' <br>
1946-1952    Dark green with red letters, serial number prefixed by the letter 'I'. <br>
1952-1955    Orange with dark green letters, serial number prefixed by the letter 'I' <br>
1955-1960s    Small pale blue, with dark blue letters, no prefix to the serial number.</p>
  <p class="bold">Information was gathered from various sources to produce this list:</p>
  <p>http://www.tuberadio.com/robinson/museum/Radiola_5/ARTS&P.html</p>
  <p>http://www.radiomuseum.org/forum/artsp_australian_new_zealand_licensing_system.html</p>
  <p>More Golden Age of Radio - John W. Stokes</p>
</div>
{% endblock %}